<h3 class="text-red">Gather</h3>

<p>A small 2D platformer/survival game. Attempt to collect the <span class="text-red">artifact</span> and return to the surface in one piece. It appears in a random location each time, so you might have to scour the whole cave complex in order to find it. But beware: the longer you dawdle, the more vicious monsters will appear and attempt to destroy you.</p>

<p>Source code is available <%= link_to "here", "https://github.com/rmtsukuru/Gather", target: "_blank" %></p>

<h4>Screenshots</h4>

<div class="screenshots">
    <div class="half">
        <%= image_tag "gather-screen0.png" %>
    </div>
    <div class="half">
        <%= image_tag "gather-screen1.png" %>
    </div>
    <div class="half">
        <%= image_tag "gather-screen3.png" %>
    </div>
    <div class="half">
        <%= image_tag "gather-screen6.png" %>
    </div>
    <div class="half">
        <%= image_tag "gather-screen4.png" %>
    </div>
    <div class="half">
        <%= image_tag "gather-screen7.png" %>
    </div>
</div>

<h4>Downloads</h4>

<p>
    <%= link_to "Windows 64-bit", "https://drive.google.com/open?id=0B8oXVbHh5bEwSmg0TWQ5N01TazQ", target: "_blank", class: "text-green" %> |
    <%= link_to "Linux 64-bit", "https://drive.google.com/open?id=0B8oXVbHh5bEwLXpoVW1qNm5qNVU", target: "_blank", class: "text-green" %> |
    <%= link_to "MacOS", "https://drive.google.com/open?id=0B8oXVbHh5bEwYXNST0xFWGF6bUE", target: "_blank", class: "text-green" %> |
    <%= link_to "Others", "https://drive.google.com/open?id=0B8oXVbHh5bEwUEJ5LXJOR2pMenM", target: "_blank", class: "text-green" %>
</p>
